{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["import", {"libraryName": "antd", "style": true}]
  ],
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": "last 2 Chrome versions"
      }
    }],
    "@babel/react"
  ]
}